<%= render "shared/navbar" %>

<div class="container">
    <div class="row py-5">
        <div class="col">
            <h2 class="text-center">Modificar Restaurante #<%= @device.id %></h2>
        </div>
    </div>

    <%= form_with(model: @device) do |form| %>
    <% if @device.errors.any? %>
        <div style="color: red">
        <h2><%= pluralize(@device.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

        <ul>
            <% @device.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="row py-3">
        <div class="col-12">
            <%= form.label :name, class: "form-label", style: "display: block" %>
            <%= form.text_field :name, class: "form-control" %>
        </div>
    </div>

    <div class="row py-3">
        <div class="col-12">
            <%= form.label :status_rest, style: "display: block" %>
            <select class="form-select" aria-label="Default select example" name="device[status_dev]" for="status_dev">
                <option value="Ok">Ok</option>
                <option value="Warning">Warning</option>
                <option value="Error">Error</option>
            </select>
        </div>
    </div>

    <div class="row py-3">
        <div class="col-12">
            <%= form.label :restaurant, style: "display: block" %>
            <%= form.collection_select :restaurant_id, @restaurants, :id, :name, { prompt: "Porfavor selecciona" }, class: "form-select" %>
        </div>
    </div>

    <div class="row py-5">
        <button type="submit" class="btn btn-success w-100">Actualizar</button>
    </div>
    <% end %>

</div>

<%= render "shared/footer" %>