<p style="color: green"><%= notice %></p>

<%= render @device %>

<div>
  <%= link_to "Edit this client", edit_device_path(@device) %> |
  <%= link_to "Back to clients", devices_path %>

  <%= button_to "Destroy this client", @device, method: :delete %>
</div>
