<%= render "shared/navbar" %>

<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <h2 class="text-center">Restaurante #<%= @restaurant.id %></h2>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-6">Nombre del dispositivo</div>
    <div class="col-6"><%= @restaurant.name %></div>
  </div>
  <div class="row py-3">
    <div class="col-6">Estado</div>
    <div class="col-6"><%= @restaurant.status_rest %></div>
  </div>
  <div class="row py-3">
    <div class="col-6">Actualizado en</div>
    <div class="col-6"><%= @restaurant.updated_at %></div>
  </div>

  <div class="row py-3">
    <div class="col-4">
      <a href="<%= restaurants_path %>" class="btn btn-secondary w-100">Volver</a>
    </div>
    <div class="col-4">
      <a href="<%= edit_restaurant_path(@restaurant.id) %>" class="btn btn-warning w-100">Modificar</a>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#eliminarModal">Eliminar</button>
    </div>
  </div>
</div>

<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eliminarModalLabel">Eliminar dispositivo#<%= @restaurant.id %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de desear eliminar el dispositivo #<%= @restaurant.id %>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <%= button_to "Eliminar", @restaurant, method: :delete, class: "btn btn-danger w-100" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>